@import 'variables';


.container{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 200px;
    color: white;
    text-align: center;
    position: relative;
    opacity: 0.7;
}


.container:hover{
    transition-duration: 0.6s;
    opacity: 1;
    cursor: pointer;
}


.langCont{
    display: flex;
    min-width: 2.2rem;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 50%;
position: absolute;
top:0;
left: 0px;
background-color: green;
padding: 0;
margin: 0;
}

.ratingCont{
    display: flex;
    justify-content: center;
    align-items: center;
position: absolute;
top: -10px;
right: -10px;
width: 30px;
height: 30px;
background-color: gold;
color: black;
border-radius: 50%;
}