@import 'variables.scss';

.content{
    display: grid;
    grid-template-columns:repeat(auto-fill, 200px);
    flex-wrap: wrap;
    gap: 3rem;
    min-height:80vh;
    padding:3rem;
    padding-bottom: 8rem;
    position: relative;
    justify-content: center ;

}

.btn{
    justify-self: center;
position: absolute;
bottom: 40px;
width: 8rem;
height: 3rem;
text-transform: uppercase;
background-color:$forthColor;
border: none;
color: beige;
border-radius: 3px;
background-color: $primaryColor;
cursor: pointer;
}
.btn:hover{
    background-color: $secondaryColor;
}

