@import 'variables';

.container{
    display: flex;
    height: 100%;
    color: beige;
}

main>img{
max-height: calc(100vh - 8.9rem) ;
}

.btn{
    justify-self: center;
width: 8rem;
height: 3rem;
text-transform: uppercase;
background-color:$forthColor;
border: none;
color: beige;
border-radius: 3px;
background-color: $primaryColor;
cursor: pointer;
margin-bottom: 80px;
}
.btn:hover{
    background-color: $secondaryColor;
}

.descWraper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    max-height: 80vh;
}

.title{font-size: 3rem;}

.starsContainer{
    margin-top: 40px;
}

.rating{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: 25px;
}


@media(max-width:468px){
    .title{
        font-size: 1.5rem;
    }
    .container{
        flex-direction: column;
        text-align: center;
        position: relative;
        
        
    }


main>img{
    height: 65vh;
   }

    .descWraper{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    p{
        padding-left: 20px;
        padding-right: 20px;
        font-size: 0.7rem;
    }
    .starsContainer{
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }
    .rating{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 6px;
        font-size: 1.4rem;
    }
    
    
}