@import "variables.scss";

.nav {
  display: flex;
  color: $forthColor;
  height: 4.1rem;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  background-color: $primaryColor;
}
